<div class="cart-container">
  <div class=" row" *ngFor="let product of products">
    <div class="col-sm-3">
      <img src="{{ product.imageUrl }}" alt="" width="200" height="200" />
    </div>
    <div class="col-sm-3">
      <div class="item-detail">
        <span class="text-info">{{ product.title }}</span>
        <span class="text-muted">{{ product.description }}</span>
        <span class="text-dark">{{ product.price }}</span>
        <span class="text-info">Quantity: {{ product.qty }}</span>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
